RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
RewriteCond %{HTTP_HOST} hayati\.id [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://hayati.id/$1 [R,L]